In [5]:
import pandas as pd
from  sklearn.model_selection import train_test_split
import os

# Load Original data

In [7]:
data_path  = "../data/Housing.csv"
data = pd.read_csv(data_path)

## Display basic info

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

In [9]:
print(f"Data Set loaded: {data.shape[0]} rows  and {data.shape[1]} columns")

Data Set loaded: 545 rows  and 13 columns

In [10]:
print(data.head())

      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

## Split the data (80% train, 20% test)

In [11]:
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

In [12]:
os.makedirs("../data/", exist_ok=True)

##  Save the split datasets

In [13]:
train_data.to_csv("../data/train.csv", index=False)
test_data.to_csv("../data/test.csv", index=False)

In [15]:
print("✅ Data successfully split and saved!")
print(f"train shape: {train_data.shape}")
print(f"test shape: {test_data.shape}")

✅ Data successfully split and saved!
train shape: (436, 13)
test shape: (109, 13)